@model IEnumerable<Football_Club_info__1273288_.Models.Club>

@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Common

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-12">
        <h3 style="text-align:center" class="mt-3"><u>Club List</u></h3>
        <div class="d-flex justify-content-end mb-1">
            <a href="@Url.Action("Create", "Clubs")" class="btn btn-outline-primary m-3">Create New</a>
        </div>

        <table class="table table-bordered table-striped table-sm">
            <thead class="table-light">
                <tr>
                    <th></th>
                    <th>Club Logo</th>
                    <th>Club Name</th>
                    <th>Country</th>
                    <th>Stadium Name</th>
                    <th>Stadium Capacity</th>
                    <th>Founded Date</th>
                    <th>ChampionLeague</th>
                    <th>Manager</th>
                    <th>League</th>

                    <th>...</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in Model)
                {
                    <tr style="vertical-align:middle" id="tr_@c.Id">
                        <td class="text-center">
                            <button type="button" id="show_@c.Id" class="btn btn-link btn-sm show" data-aid="@c.Id"><i class="bi bi-plus-square"></i></button>
                            <button type="button" id="hide_@c.Id" class="btn btn-link btn-sm hide" data-aid="@c.Id" style="display:none"><i class="bi bi-dash-square"></i></button>
                        </td>
                        <td class="text-center"><img src="~/Pictures/@c.ClubLogo" class="img-thumbnail circle" style="width:90px" /></td>
                        <td>@c.ClubName</td>
                        <td>@c.Country</td>
                        <td>@c.StadiumName</td>
                        <td>@c.Capacity</td>
                        <td>@c.FoundedDate.ToString("yyyy-MM-dd")</td>
                        <td>@(c.IsChampionLeagueWinner ? "Yes": "No")</td>
                        <td>@c.Manager</td>
                        <td>@c.League</td>
                        <td>
                            <a title="Edit this item" href="@Url.Action("Edit", "Clubs", new {id=c.Id})" class="btn btn-success btn-sm"><i class="bi bi-pencil"></i></a>
                            <button type="button" title="Delete this item" data-pk="@c.Id" href="@Url.Action("Delete", "Clubs", new {id=c.Id})" class="btn btn-danger btn-sm del"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                    <tr style="display:none" id="p_@c.Id">
                        <td></td>
                        <td colspan="10">
                            <h4>Players</h4>
                            <table class="table table-bordered table-sm">
                                <thead class="table-light">
                                    <tr>
                                        <th>Player Name</th>
                                        <th>Nationality</th>
                                        <th>Age</th>
                                        <th>JerseyNumber</th>
                                        <th>Debut</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var p in c.Players)
                                    {
                                        <tr style="vertical-align:middle">
                                            <td>@p.PlayerName</td>
                                            <td>@p.Nationality</td>
                                            <td>@p.Age</td>
                                            <td>@p.JerseyNumber</td>
                                            <td>@p.Debut.ToString("yyyy-MM-dd")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            @Html.PagedListPager((IPagedList)Model, pg => Url.Action("Index", new { pg = pg }), new PagedListRenderOptions
            {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" }
            })
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" id="delmodal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h5 class="modal-title">Delete Club Name</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure to delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="btnyes">Yes</button>
            </div>
        </div>
    </div>
</div>
@section styles
{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
}
@section scripts
{
    <script src="~/Scripts/jquery-3.7.0.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <script>
        $(() => {
            $(".show").click(function () {
                var aid = $(this).data("aid");
                //console.log(aid);
                $(`#p_${aid}`).show();
                $(`#hide_${aid}`).show();
                $(this).hide();
            });
            $(".hide").click(function () {
                var aid = $(this).data("aid");
                //console.log(aid);
                $(`#p_${aid}`).hide();
                $(`#show_${aid}`).show();
                $(this).hide();
            })
        });
    </script>

    <script>
        var delModal;// = new bootstrap.Modal(document.getElementById('delmodal'))
        var delId = -1;
        $(() => {
            delModal = new bootstrap.Modal(document.getElementById('delmodal'));
            $(".del").click(function () {
                delModal.show();
                delId = $(this).data("pk");
                console.log(delId);
            });
            $("#btnyes").click(() => {
                $.ajax({
                    type: "post",
                    url: "/Clubs/Delete/" + delId,
                    dataType: "json",
                    success: (r) => {
                        if (r.success == true) {
                            $("#tr_" + delId).remove();
                        }
                    }
                });
                delModal.hide();
            });
        })
    </script>
}
